extends layout

block content
  div( class="main-container" )
    div( class="content-container" )
      h1= title

      h2 Choose a program to get started
      br
      h3 One Rep Max
      form(method="GET" action="/531")
        button(type="submit" class="btn btn-outline-info") 5:3:1