extends layout

block content
  div( class="main-container" id="main-contain-1")
    div( class="content-container")
      h1= title

      h2 Choose a program to get started
      br
      form(method="GET" action="/531")
        button(type="submit" class="btn btn-outline-light") 5:3:1