extends layout

block content
  div( class="main-container" id="main-contain-3")
    div( class="content-container" )
      h1 Your Working Maxes
      h2 Overhead Press #{pressWorkingMax}
      h2 Deadlift #{deadWorkingMax}
      h2 Bench Press #{benchWorkingMax}
      h2 Squat #{squatWorkingMax}
      br
      br
      form(method="GET" action="/workingmax/results")
        button(type="submit" class="btn btn-outline-light") Get Results