/*
*{
	border: 1px solid red;
} */

body {
  color: white;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.main-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/**************************
INDEX VIEW
**************************/
#main-contain-1 {
	height:100vh;
	width: 100vw;
}


/**************************
531 VIEW
**************************/

#main-contain-2 {
	height:100vh;
	width: 100vw;
}

form h2 {
	text-align: center;
}

.formInput {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#calcButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**************************
WORKING MAX VIEW
**************************/
#main-contain-3{
	height: 100vh;
	width: 100vw;
}

/**************************
RESULTS VIEW
**************************/
#resultsTitle{
	text-align: center;
	font-size: 100px;
}

#resultsContainer{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.weekTitle{
	font-size: 30px;
	list-style: none;
}

ul {
	font-weight: bold;
}

.weekTitle li {
	font-weight: normal;
}