body {
  color: white;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-container{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	min-width: 100vw;
	/*height: 100%;*/
}

.content-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#footerLink {
	color: white;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

#footerLink p {
	padding: 0;
	margin: 0;
}

#footerLink a {
	color: white;
	height: 10vh;
	width: 100vw;
}


/**************************
531 VIEW
**************************/

form h2 {
	text-align: center;
}

.formInput {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#calcButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**************************
RESULTS VIEW
**************************/
#resultsTitle{
	text-align: center;
	font-size: 100px;
}

#resultsContainer{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	margin-bottom: 20px;
}

.monthTitle{
	font-size: 40px;
	font-weight: bold;
}

.weekTitle{
	font-size: 30px;
	list-style: none;
}

ul {
	font-weight: bold;
}

.weekTitle li {
	font-weight: normal;
}